<template name="irjobLogs">
  <div class="row">
    <div class="col s12">
      <div class="logs-collapsibles">
        <ul class="collapsible" data-collapsible="expandable">
          <li>
            <div class="job-wait">
              {{#if (compareStatus irjob 'ready')}}
                <div class="progress">
                  <div class="indeterminate"></div>
                </div>
              {{else}}
                {{#if (compareStatus irjob 'running')}}
                  <div class="progress">
                    <div class="indeterminate preloader-running"></div>
                  </div>
                {{/if}}
              {{/if}}
            </div>
            <div class="collapsible-header">
              <div class="log-panel orchestrator"><i class="material-icons">dns</i> Orchestrator</div>
            </div>
            <div class="collapsible-body">
              <div>
                <pre class="log-lines">{{#each logs}}{{ isoTime time }} {{{ message }}}<br>{{/each}}</pre>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{#if (compareStatus irjob 'done')}}
    <div class="row">
      <div class="col s12">
        {{#if killed}}
          <p>
            Compiling your code failed, sorry about that! Check the logs above.
          </p>
        {{else}}
          <p>
            Your code has been successfully compiled!
          </p>
          <h6><a class="waves-effect waves-light btn" href="/irhydra/?id={{ irjob._publicId }}">Analyze</a></h6>
        {{/if}}
      </div>
    </div>
  {{/if}}
</template>
