<template name="irjobForm">
  <div class="row">
    <div class="col s12">
      <h5 class="bold first">
        <span class="d8-modal-trigger">Choose v8 version</span>
        <small class="right">
          <a href="https://github.com/vhf/monomorphist/issues/new" target="_blank">Request a v8 version</a>
        </small>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="columned">
        {{#each v8ColA}}
          <div>
            <span data-id="{{ _id }}" class="d8-modal-trigger"><i class="material-icons">live_help</i></span>
            <input name="v8-tag" class="v8-radio" type="radio" id="{{ _id }}" />
            <label for="{{ _id }}">
              {{ tag }}
            </label>
            <br>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h5 class="bold between">Enter your code</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      {{#autoForm collection=IRJobs autosave=true doc=job id="irjobForm" type="update"}}
        {{> afQuickField name="code" label-style="margin-left: 34px;"}}
        <div class="row">
          <div class="col s12">
            <p>
              <strong>Please note:</strong>
              If you code doesn't go through the optimizing compiler for any reason (it might be too short,
              not called often enough, …), <code>d8</code> will not generate the output necessary for the analyze.
            </p>
          </div>
        </div>
        {{> afQuickField name="listed" type="boolean-checkbox" template="listedCheckbox"}}
      {{/autoForm}}
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <button id="run" class="btn waves-effect waves-light" type="submit" name="action" disabled="{{formInvalid job}}">
        Run
      </button>
      <br>
      <p>
        {{#let seconds=estimate}}
          {{#if seconds}}
            Current job waiting time is {{ seconds }} seconds.
          {{else}}
            Queue empty, your job will run immediately!
          {{/if}}
        {{/let}}
      </p>
    </div>
  </div>
</template>
