<template name="jobForm">
  <div class="row">
    <div class="col s12">
      <h5 class="bold">
        Choose node versions ({{ length job.nodes }}/{{ maxContainersPerJob }})
        <small class="right">
          <a href="https://github.com/vhf/monomorphist/issues/new" target="_blank">Request a node version</a>
        </small>
      </h5>
    </div>
  </div>
  <div class="row">
    {{#each nodes}}
      <div class="col s1 switch center">
        <label for="{{ _id }}">
          <span class="node-modal-trigger">
            {{#if nightly}}
              nightly
            {{else}}
              {{ version }}
            {{/if}}
          </span>
          {{#if (nodeEnabled job _id)}}
            <input class="node-checkbox" type="checkbox" checked="checked" id="{{ _id }}" />
          {{ else }}
            <input class="node-checkbox" type="checkbox" id="{{ _id }}" />
          {{/if}}
          <span class="lever"></span>
        </label>
      </div>
    {{else}}
      <div class="col s12 center">
        <p>please wait, we're hunting nodes</p>
      </div>
    {{/each}}
  </div>
  <div class="row">
    <div class="col s12">
      <h5 class="bold">Enter your code</h5>
      <p>First a function definition, then how to call the function, finally the function name. Hit <key>enter</key> to create a new line.</p>
    </div>
  </div>
  <div class="row">
    <div class="col m6 s12">
      {{#autoForm collection=Jobs autosave=true doc=job id="jobForm" type="update"}}
        {{> afQuickField name="fn.definition" label-style="margin-left: 34px;"}}
        {{> afQuickField name="fn.call" label-style="margin-left: 34px;"}}
        {{> afQuickField name="fn.name"}}
        {{> afQuickField name="listed" type="boolean-checkbox" template="listedCheckbox"}}
      {{/autoForm}}
    </div>
    <div class="col m6 hide-on-small-only">
      <div class="instrumented" style="display: none">
        <textarea id="preview"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <button id="run" class="btn waves-effect waves-light" type="submit" name="action" disabled="{{formInvalid job}}">
        Run
      </button>
      <br>
      <p>
        {{#let seconds=estimate}}
          {{#if seconds}}
            Current job waiting time is {{ seconds }} seconds.
          {{else}}
            Queue empty, your job will run immediately!
          {{/if}}
        {{/let}}
      </p>
    </div>
  </div>
</template>
