<template name="jobLogs">
  {{#if Template.subscriptionsReady}}
    <div class="row">
      <div class="col s12">
        <h5>Logs</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="logs-collapsibles">
          <ul class="collapsible" data-collapsible="expandable">
            <li>
              <div class="job-wait">
                {{#if (compareStatus job 'ready')}}
                  <div class="progress">
                    <div class="indeterminate"></div>
                  </div>
                {{else}}
                  {{#if (compareStatus job 'running')}}
                    <div class="progress">
                      <div class="indeterminate preloader-running"></div>
                    </div>
                  {{/if}}
                {{/if}}
              </div>
              <div class="collapsible-header">
                <div class="log-panel orchestrator"><i class="material-icons">dns</i> Orchestrator</div>
              </div>
              <div class="collapsible-body">
                <div>
                  <pre class="log-lines">{{#each (logs 'undefined')}}{{ isoTime time }} {{{ message }}}<br>{{/each}}</pre>
                </div>
              </div>
            </li>

            {{#each _id in jobNodes}}
              {{#let nodeStatus=(status _id)}}
                <li>
                  <div class="job-wait">
                    {{#unless nodeStatus}}
                      {{#if (compareStatus job 'ready')}}
                        <div class="progress">
                          <div class="indeterminate"></div>
                        </div>
                      {{else}}
                        {{#if (compareStatus job 'running')}}
                          <div class="progress">
                            <div class="indeterminate preloader-running"></div>
                          </div>
                        {{/if}}
                      {{/if}}
                    {{/unless}}
                  </div>
                  <div class="collapsible-header node">
                    {{#if nodeStatus}}
                      <span class="node-status {{optimizationClass nodeStatus}}">
                        <i class="material-icons">{{optimizationIcon nodeStatus killed}}</i>node {{nodeVersion(_id)}}
                      </span>
                      <div class="right">
                        LOGS
                      </div>
                    {{else}}
                      {{#if killed}}
                        <span class="node-status color-killed">
                          <i class="material-icons">block</i>node {{nodeVersion(_id)}}
                        </span>
                      {{else}}
                        <span class="node-status">
                          <i class="material-icons color-running">settings</i>node {{nodeVersion(_id)}}
                        </span>
                      {{/if}}
                    {{/if}}
                  </div>
                  <div class="collapsible-body" id="node-log-{{_id}}">
                    <div>
                      <pre class="log-lines">{{#each (logs _id)}}{{{ message }}}<br>{{/each}}</pre>
                    </div>
                  </div>
                </li>
              {{/let}}
            {{else}}
              Please select at least one node version.
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  {{/if}}
</template>
