<template name="layout">
  <header>
    <div class="container">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo hide-on-small-only">histmonomorphist</a>
          <h1><a href="/" id="logo" class="brand-logo">monomorphist</a></h1>
          <a href="/" class="brand-logo hide-on-small-only">monomorphistmonomorphistmonomorphistmonomorphistmonomorphist</a>
        </div>
      </nav>
    </div>
  </header>
  {{#if rebuilding}}
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h2>once a day…</h2>
          <p>
            …we have to rebuild some Docker images to run your code. It only takes a few minutes.
          </p>
          <p>
            We'll be right back!
          </p>
        </div>
      </div>
    </div>
  {{else}}
    {{> Template.dynamic template=main }}
  {{/if}}
  {{> footer }}
  {{> nodeInfoModal }}
</template>
