<body>
  <header>
    <div class="container">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo hide-on-small-only">histmonomorphist</a>
          <h1><a href="/" id="logo" class="brand-logo">monomorphist</a></h1>
          <a href="/" class="brand-logo hide-on-small-only">monomorphistmonomorphistmonomorphistmonomorphistmonomorphist</a>
        </div>
      </nav>
    </div>
  </header>
  {{> layout}}
</body>

<template name="layout">
  {{> Template.dynamic template=main }}
</template>
