<template name="formJob">
  {{#if job.done}}
    can't modify a finished job
  {{else}}
    <div class="row">
      {{#each nodes}}
        <div class="col s1 switch center">
          <label for="{{ _id }}">
            {{ packageVersion }}
            <br>
            {{#if enabled job _id }}
              <input class="node-checkbox" type="checkbox" checked="checked" id="{{ _id }}" />
            {{ else }}
              <input class="node-checkbox" type="checkbox" id="{{ _id }}" />
            {{/if}}
            <span class="lever"></span>
          </label>
        </div>
      {{else}}
        <p>loading nodes</p>
      {{/each}}
    </div>
    <div class="row">
      <div class="col m6 s12">
        {{#autoForm collection=Jobs autosave=true doc=job id="formJob" type="update"}}
          {{> afQuickField name="fn"}}
        {{/autoForm}}
      </div>
      <div class="col m6 hide-on-small-only">
        <div class="card-panel blue-grey lighten-4">
          <pre id="instrumented"></pre>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <button id="run" class="btn waves-effect waves-light" type="submit" name="action">
          Run
        </button>
      </div>
    </div>
  {{/if}}
  {{!--{> Panels_show (nodesResultPanels)}--}}
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header">
        <div class="chip">server</div>
        {{#if _id.running}}
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        {{/if}}
      </div>
      <div class="collapsible-body">
        <div class="blue-grey lighten-4">
          <pre class="log-lines">{{#each execLogs}}{{ message }}
{{/each}}</pre>
        </div>
      </div>
    </li>
    {{#each _id in job.nodes}}
      <li>
        <div class="collapsible-header">
          <div class="chip">{{nodeVersion(_id)}}</div>
          {{#if _id.running}}
            <div class="progress">
              <div class="indeterminate"></div>
            </div>
          {{/if}}
        </div>
        <div class="collapsible-body">
          {{#let logs=(logsFrom _id)}}
            <div class="blue-grey lighten-4">
              <pre class="log-lines">{{#each logs}}{{ message }}
{{/each}}</pre>
            </div>
          {{/let}}
        </div>
      </li>
    {{else}}
      No engine added yet.
    {{/each}}
  </ul>
</template>
