<template name="jobQueue">
  <ul class="collection">
    <li class="collection-item center">
      {{ runningStatus }}
    </li>
    {{#each jobsRunning}}
      <li class="collection-item queue-item queue-item-running {{#if currentJob data._jobId}}active{{/if}}">
        {{#each data.nodes}}<span class="btn disabled">{{nodeVersion(this)}}</span> {{/each}}
        {{#if data.unlisted}}
          <a href="#!" class="btn disabled"><i class="material-icons">visibility_off</i></a>
        {{else}}
          <a href="/job/{{data._jobId}}" class="btn disabled" target="_blank"><i class="material-icons">visibility</i></a>
        {{/if}}
      </li>
    {{/each}}
    {{# if jobsReady}}
      <li class="collection-item center">
        up next
      </li>
      {{#each jobsReady}}
        <li class="collection-item queue-item queue-item-ready {{#if currentJob data._jobId}}active{{/if}}">
          {{#each data.nodes}}<span class="btn disabled">{{nodeVersion(this)}}</span> {{/each}}
          {{#if data.unlisted}}
            <a href="#!" class="btn disabled"><i class="material-icons">visibility_off</i></a>
          {{else}}
            <a href="/job/{{data._jobId}}" class="btn disabled" target="_blank"><i class="material-icons">visibility</i></a>
          {{/if}}
        </li>
      {{/each}}
    {{/if}}
    <li class="collection-item center">
      history
    </li>
    {{#each jobsDone}}
      <li class="collection-item queue-item queue-item-ready">
        {{#each nodes}}<span class="btn disabled">{{nodeVersion(this)}}</span> {{/each}}
        {{#if unlisted}}
          <a href="#!" class="btn disabled"><i class="material-icons">visibility_off</i></a>
        {{else}}
          <a href="/job/{{_id}}" class="btn disabled" target="_blank"><i class="material-icons">visibility</i></a>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</template>
