.admin-date-span {
  display: inline-block;
  width: 300px;
  text-align: center;
  margin-right: 10px
}
.admin-id-a {
  display: inline-block;
  width: 94px;
  font-family: 'SauceCodePowerline-Regular', monospace, monospace;
}
