.subtitle {
  font-size: 1.2rem;
}

.title {
  a {
    color: black;
  }
}

@media only screen and (max-width: 601px) {
  .title {
    margin: -11px -8px !important;
  }
  .subtitle {
    margin-top: 0;
  }
}

@media only screen and (min-width: 601px) {
  .subtitle {
    font-size: 2.13rem;
    margin-top: 4px;
  }
}

.home-pics {
  @extend .blue-grey;
  @extend .darken-1;
  @extend .center-align;
  padding: 15px;
  img {
    width: 100%;
    max-width: 580px
  }
}

.close-bottom {
  margin-bottom: 0;
}
.close-top {
  margin-top: 0;
}

a.home-btn {
  @extend .waves-effect;
  @extend .waves-light;
  @extend .btn-large;
  height: 70px;
  width: 210px;
  line-height: 1.5rem;
  padding: 14px 0;
  margin-top: 10px;
  .small {
    font-size: 0.8rem;
  }
}
