.job-show {
  h1 {
    font-size: 48px;
    font-weight: 900;
  }
}

.irjob-show {
  h1 {
    font-size: 48px;
    font-weight: 900;
  }
}

.CodeMirror {
  background-color: $code-bg-color;
  border: 1px solid $primary-color;
}

.instrumented {
  box-shadow: none;
  padding: 0;
  margin-top: 25px;
}

#jobForm {
  label {
    margin-top: 5px;
  }
}
