.logs-collapsibles {
  -webkit-transition: all 0.1s ease-in-out;
     -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
       -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Source Sans Pro', 'Roboto', sans-serif;
  ul {
    border: none;
    box-shadow: none;
    li {
      margin-bottom: 16px;
      &:not(.active) {
        // height: 32px;
      }
      .job-wait {
        padding: 0 1px;
        height: 0;
        .progress {
          position: relative;
          height: 30px;
          display: block;
          width: 100%;
          top: 1px;
          background-color: transparent;
          overflow: hidden;
          .indeterminate {
            background-color: rgba(38, 166, 154, 0.6);
          }
          .preloader-running {
            background-color: rgba(139, 195, 74, 0.6) !important;
          }
        }
      }

      .collapsible-header {
        height: 32px;
        min-height: 32px;
        line-height: 32px;
        border: 1px solid #304047;
        font-size: 14px;
        padding-right: 0;
        &.node {
          line-height: 28px;
        }

        i {
          font-size: 12px;
          line-height: 32px;
        }

        .right {
          font-weight: 600;
          width: 56px;
          text-align: center;
          height: 100%;
        }
        &.active {
          // border-bottom: 0;
          .right {
            background: #304047;
            color: white;
          }
        }
        .node-status {
          font-size: 12px;
        }
      }
      .collapsible-body {
        width: 168%;
        margin-left: -34%;
        border-bottom: none;
        margin-top: -1px;
      }
    }
  }
}

.log-lines {
  background: #304047;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px 15px 5px 15px;
  width: 100%;
  font-size: 14px;
  line-height: 1.4rem;
  font-family: 'SauceCodePowerline-Regular', monospace, monospace;

  .hex {
    color: #3aab56;
  }
  .internal-info-1 {
    color: #cdb62c;
  }
  .internal-info-2 {
    color: #3484F5;
  }
  .reason-label {
    @extend .grey-text, .text-lighten-1;
  }
  .reason, .disabled {
    @extend .lime-text, .text-lighten-5;
    background-color: #db4545 !important;
    padding: 0 2px;
  }
  .verdict {
    color: black;
    background-color: #cdb62c;
    padding: 0 3px;
  }
  .verdict.bad {
    @extend .lime-text, .text-lighten-5;
    background-color: #db4545 !important;
  }
  .verdict.maybe {
    font-style: italic;
  }
  .collapse-column {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 14px;
    line-height: 14px;
    cursor: pointer;
  }
  .collapse-column.uncollapsed {
    display: inline;
  }
  .collapse-column.collapsed {
    width: 12px;
    margin-left: 14px;
  }
}
