.job-queue-col {
  @extend .col;
  @extend .hide-on-small-only;
  @extend .m2;
  width: 196px;
  // height: 100%;
  // overflow-y: auto;
}

.new-btn-wrapper {
  position: fixed;
  top: 0;
  &.adjust {
    top: 50px;
  }
  -webkit-transition: all 0.1s ease-in-out;
     -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
       -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
  width: 180px;
  border: none;
  border-radius: 0;
}
.new-btn {
  margin-left: 10px !important;
  border: none;
  width: 160px;
  background-color: $primary-color !important;
  font-size: 16px;
  height: 32px;
  color: #fff;
  font-weight: 600;
  padding: 4px 10px !important;
  .fa {
    float: right;
    font-size: 22px;
  }
}

.short-id {
  font-weight: 600;
  color: #000;
  font-size: 12px;
}

.job-queue {
  position: fixed;
  top: 55px;
  max-height: calc(100vh - 80px);
  &.adjust {
    top: 105px;
    max-height: calc(100vh - 130px);
  }
  -webkit-transition: all 0.1s ease-in-out;
     -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
       -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
  overflow-x: none;
  overflow-y: scroll;
  width: 195px;
  border: 0;
  margin-bottom: 0px;

  &.pinned {
    margin-top: 51.5px;
  }

  .queue-item {
    width: 160px;
    font-size: 12px;
    padding: 5px;
    border-radius: 0;
    margin-left: 10px;
    margin-bottom: -1px;
    border-left: 1px solid $primary-color;
    border-right: 1px solid $primary-color;
    border-top: 1px solid #D4E1E7;
    border-bottom: 1px solid #D4E1E7;
    &:first-child {
      border-top: 1px solid $primary-color;
    }
    &:last-child {
      border-bottom: 1px solid $primary-color;
      margin-bottom: 0;
    }
    .job-link {
      cursor: pointer;
    }
    &.details {
      display: none;
      width: 180px;
      margin-left: 0;
      padding-top: 0;
      border: 1px solid $primary-color;
      .row {
        border-bottom: 1px solid #D4E1E7;
        margin: 6px 0 0 -5px;
        padding: 0 4px;
        width: 178px;
        .fa {
          margin-right: 4px;
        }
        &:last-child {
          border: 0;
        }
        .col {
          padding: 0;
        }
      }
      div:first-child:not(.col) {
        margin: 0 -5px;
        width: 178px;
        border-bottom: 1px solid #D4E1E7;
        height: 25px;
        font-weight: 900;
        text-align: center;
        p {
          margin: 4px 0 0 0;
        }
      }
    }
    &.details-show {
      display: block;
    }
    &.details + .queue-item {
      border-top: 1px solid $primary-color;
    }
    .verdicts {
      float: right;
      @extend .right-align;
      font-size: 10px;
      color: #979797;
      .fa {
        margin-right: 4px;
      }
    }
  }
}
