.job-queue-col {
  @extend .col;
  @extend .hide-on-small-only;
  @extend .m2;
  width: 196px;
  // height: 100%;
  // overflow-y: auto;
}

.new-btn-wrapper {
  position: fixed;
  top: 0;
  &.adjust {
    top: 50px;
  }
  -webkit-transition: all 0.1s ease-in-out;
     -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
       -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
  width: 180px;
  border: none;
  border-radius: 0;
}
.new-btn {
  margin-left: 10px !important;
  border: none;
  width: 160px;
  background-color: $primary-color !important;
  font-size: 16px;
  height: 32px;
  color: #fff;
  font-weight: 600;
  padding: 4px 10px !important;
  .material-icons {
    float: right;
    font-size: 22px;
  }
}

.short-id {
  font-weight: 600;
  color: #000;
  font-size: 12px;
}

.job-queue {
  -webkit-transition: all 0.1s ease-in-out;
     -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
       -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
  position: fixed;
  top: 55px;
  overflow-x: none;
  overflow-y: scroll;
  width: 195px;
  border: 0;
  margin-bottom: 0px;
  max-height: calc(100vh - 80px);
  &.adjust {
    top: 105px;
    max-height: calc(100vh - 130px);
  }

  &.pinned {
    margin-top: 51.5px;
  }

  .queue-item {
    width: 160px;
    font-size: 12px;
    padding: 5px;
    border-radius: 0;
    margin-left: 10px;
    margin-bottom: -1px;
    border-left: 1px solid $primary-color;
    border-right: 1px solid $primary-color;
    border-top: 1px solid #D4E1E7;
    border-bottom: 1px solid #D4E1E7;
    transition: all .3s ease;

    .d8-mention {
      position: absolute;
      left: 85px;
      font-size: 12px;
      color: #979797;
      vertical-align: middle;
    }
    .d8 {
      display: none;
    }
    &:first-child {
      border-top: 1px solid $primary-color;
    }
    &:last-child {
      border-bottom: 1px solid $primary-color;
      margin-bottom: 0;
    }
    &.listed {
      .job-details {
        display: none;
      }
    }
    &.details {
      width: 180px;
      margin-left: 0;
      padding-top: 0;
      padding-left: 0;
      border: 1px solid $primary-color;
      .d8-mention {
        display: none;
      }
      .d8 {
        padding: 5px 12px 0 12px;
        display: block;
      }
      .verdicts {
        display: none;
      }
      span.short-id {
        &:before {
          content: 'Job ';
        }
        cursor: pointer;
        width: 178px;
        border-bottom: 1px solid #D4E1E7;
        height: 25px;
        font-weight: 900;
        text-align: center;
        margin: 4px -5px 0 0;
        display: block;
      }
    }
    .material-icons {
      margin-right: 4px;
      font-size: 10px;
    }
    .job-details {
      border-bottom: 1px solid #D4E1E7;
      margin: 4px -5px 0 0;
      padding: 0 5px;
      width: 178px;
      &:last-child {
        border: 0;
      }
      .col {
        padding: 0;
      }
    }
    &.details-show {
      display: block;
    }
    &.details + .queue-item {
      transition: none;
      border-top: 1px solid $primary-color;
    }
    .verdicts {
      @extend .right-align;
      float: right;
      font-size: 10px;
      color: #979797;
      vertical-align: middle;
      i {
        vertical-align: top;
        margin-top: 5px;
        display: inline-block;
      }
    }
  }
}
