@import 'variables';

@import '{poetic:materialize-scss}/sass/materialize.scss';
@import 'sourcesanspro';
@import 'nav';
@import 'home';
@import 'queue';
@import 'jobs';
@import 'logs';

html,
button,
input,
optgroup,
select,
textarea {
  font-family: 'Source Sans Pro', 'Roboto', sans-serif;
}

.title {
  margin: -15px -8px;
  font-weight: 900;
}

.inter-t {
  font-size: 1.5rem;
}

h5 {
  margin: 1.82rem 0 0.656rem 0;
}

ul.ol-aligned {
  margin-left: 40px;
}

.btn-large {
  @extend .btn-large;
  @extend .blue-grey;
  @extend .darken-2;
}

.CodeMirror {
  height: initial !important;
  min-height: 24px;
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.4rem;
  font-family: 'SauceCodePowerline-Regular', monospace, monospace;
}

footer {
  @extend .blue-grey, .darken-1;
}

table.highlight.status-table > tbody > tr:hover {
  @extend .blue-grey, .lighten-2;
}

.status-table {
  color: white;
  td {
    padding: 0;
  }
}

.instrumented {
  padding: 10px;
  pre {
    margin: 0;
  }
}

.checkbox-icon {
  font-size: 20px;
  vertical-align: sub;
}

.preloader-running {
  @extend .light-green;
}

.collection-item.queue-item {
  .btn {
    text-transform: inherit;
  }
}

.modal.compact {
  padding: 2px 24px;
}
table.compact {
  tr.selected-version {
    @extend .light-green, .lighten-2;
  }
  th, td {
    padding: 0;
    height: 24px;
    line-height: 1;
  }
}

.switch {
  min-width: 40px;
  label {
    display: block;
    span {
      display: block;
    }
    .lever {
      margin: 6px 0 0 0;
    }
  }
}

.node-modal-trigger {
  cursor: pointer;
}

.d8-modal-trigger {
  cursor: pointer;
  i {
    font-size: 16px !important;
    vertical-align: middle;
  }
}

@font-face {
  font-family: SauceCodePowerline-Regular;
  src: url('/fonts/Sauce Code Powerline Regular.otf') format('opentype');
}

code, kbd, pre, samp {
  font-family: 'SauceCodePowerline-Regular', monospace, monospace;
}
