$primary-color: #607d8b !default;

@import "{poetic:materialize-scss}/sass/materialize.scss";

.title {
  margin: -15px -8px;
  font-weight: 900;
}
.light-font {
  font-weight: 100;
}

.inter-t {
  font-size: 1.5rem;
}

.home-pics {
  @extend .blue-grey;
  @extend .darken-1;
  @extend .center-align;
  padding: 15px;
  img {
    width: 100%;
    max-width: 580px
  }
}

.btn-large {
  @extend .btn-large;
  @extend .blue-grey;
  @extend .darken-2;
}

.home-btn {
  @extend .waves-effect;
  @extend .waves-light;
  @extend .btn-large;
  height: 90px;
  width: 210px;
  line-height: 2rem;
  padding: 14px 0;
  .small {
    font-size: 0.8rem;
  }
}

.CodeMirror {
  height: initial !important;
  min-height: 24px;
  margin-top: 12px;
}

.log-lines {
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px 15px 5px 15px;

  .hex {
    @extend .orange-text, .text-lighten-2;

  }
  .internal-info-1 {
    color: green;
  }
  .internal-info-2 {
    color: blue;
  }
  .reason-label {
    @extend .grey-text, .text-lighten-1;
  }
  .reason, .disabled {
    background-color: #666 !important;
    @extend .lime-text, .text-lighten-5;
    padding: 0 2px;
  }
  .verdict {
    color: white;
    @extend .blue-grey;
    padding: 0 3px;
  }
  .verdict.bad {
    @extend .orange, .lighten-2;
  }
  .verdict.maybe {
    font-style: italic;
  }
  .collapse-column {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 14px;
    cursor: pointer;
  }
  .collapse-column.uncollapsed {
    display: inline;
  }
  .collapse-column.collapsed {
    width: 18px;
    margin-left: 14px;
  }
}

.collection .queue-item {
  font-size: 12px;
  padding: 5px;
  &.queue-item-running {
    @extend .light-green, .lighten-2;
  }
  &.active {
    font-weight: bold;
  }
  i {
    font-size: 18px;
  }
  .btn {
    @extend .light-green, .lighten-5;
    padding: 0 4px;
    height: 18px;
    line-height: 18px;
  }
}

footer {
  @extend .blue-grey, .darken-1;
}

table.highlight.status-table > tbody > tr:hover {
  @extend .blue-grey, .lighten-2;
}

.status-table {
  color: white;
  td {
    padding: 0;
  }
}

.instrumented {
  padding: 10px;
  pre {
    margin: 0;
  }
}

.checkbox-icon {
  font-size: 20px;
  vertical-align: sub;
}

.preloader-running {
  @extend .light-green;
}

nav {
  height: 21px;
  line-height: 17px;
  box-shadow: none;
  h1 {
    font-weight: bold;
    margin: 0;
    padding-top: 2px;
    font-size: inherit;
  }
}

@media only screen and (min-width: 601px) {
  .nav-wrapper {
    width: 300%;
    overflow: hidden;
  }
  nav {
    height: 21px;
    line-height: 17px;
    box-shadow: none;
    overflow: hidden;
    margin-top: 0;
    .brand-logo {
      font-weight: 100;
      position: inherit;
      display: block;
      float: left;
      color: #90a4ae !important;
    }
    h1 {
      font-size: 2.1rem;
      font-weight: bold;
      line-height: inherit;
      padding: 0;
      margin: 0;
      float: left;
      display: block;
      .brand-logo {
        font-weight: 900;
        color: #cfd8dc !important; // .blue-grey-text, .text-lighten-5;
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: inherit;
    transform: none;
  }
}
.collection-item.queue-item {
  .btn {
    text-transform: inherit;
  }
}

.modal.compact {
  padding: 2px 24px;
}
table.compact {
  tr.selected-version {
    @extend .light-green, .lighten-2;
  }
  th, td {
    padding: 0;
    height: 24px;
    line-height: 1;
  }
}

.switch {
  min-width: 40px;
  label {
    display: block;
    span {
      display: block;
    }
    .lever {
      margin: 6px 0 0 0;
    }
  }
}

.node-modal-trigger {
  cursor: pointer;
}

.job-queue {
  width: 176px;

  .queue-item {
    padding-left: 8px;
    .btn {
      width: 76px;
      margin: 0 1px;
      text-align: right;
      i {
        @extend .material-icons;
        font-size: 16px !important;
        vertical-align: sub;
      }
      &.job-link {
        width: 157px;
        text-align: center;
      }
      &.verdict--1 {
        i:after {
          content: 'warning';
        }
      }
      &.verdict-2,
      &.verdict-4,
      &.verdict-6 {
        i:after {
          content: 'thumb_down';
        }
      }
      &.verdict-0,
      &.verdict-6 {
        i:after {
          content: 'thumbs_up_down';
        }
      }
      &.verdict-1,
      &.verdict-3,
      &.verdict-7 {
        i:after {
          content: 'thumb_up';
        }
      }
    }
  }
}

.d8-modal-trigger {
  cursor: pointer;
  i {
    font-size: 16px !important;
    vertical-align: middle;
  }
}
