<template name="queue">
  <div class="job-queue-col-wrapper">
    <ul class="collection new-btn-wrapper adjust">
      <button id="new-btn" class="collection-item center new-btn">New job <i class="fa fa-angle-right" aria-hidden="true"></i></button>
    </ul>
    <ul class="collection job-queue adjust">
      {{#if Template.subscriptionsReady}}
        {{#each jobs}}
          <li class="collection-item queue-item {{#if listed}}listed{{/if}}" data-id="{{ _id }}" data-publicid="{{ _publicId }}">
            {{#let counts=(verdicts nodesStatus)}}
              <span class="short-id">{{ shortId this }}</span>
              <span class="verdicts">
                {{#if (status this 'running')}}
                  {{ nodesStatus.length }} <i class="fa fa-cog" aria-hidden="true"></i>
                {{/if}}
                {{#if counts.good }}
                  <span class="color-good">
                    {{ counts.good }} <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                {{/if}}
                {{#if counts.bad }}
                  <span class="color-bad">
                    {{ counts.bad }} <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  </span>
                {{/if}}
                {{#if counts.unsure }}
                  <span class="color-unsure">
                    {{ counts.unsure }} <i class="fa fa-question-circle" aria-hidden="true"></i>
                  </span>
                {{/if}}
                {{#if counts.killed }}
                  <span class="color-killed">
                    {{ counts.killed }} <i class="fa fa-ban" aria-hidden="true"></i>
                  </span>
                {{/if}}
                <!--{{#if (killed this)}}<i class="fa fa-cog" aria-hidden="true"></i>{{/if}}-->
              </span>
            {{/let}}
            {{#each (sortAndAugment nodesStatus)}}
              <div class="row job-details">
                {{#each this}}
                  {{#if good}}
                    <div class="col s6 color-good">
                      <i class="fa fa-check" aria-hidden="true"></i> {{ version }}
                    </div>
                  {{/if}}
                  {{#if bad}}
                    <div class="col s6 color-bad">
                      <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ version }}
                    </div>
                  {{/if}}
                  {{#if unsure}}
                    <div class="col s6 color-unsure">
                      <i class="fa fa-question-circle" aria-hidden="true"></i> {{ version }}
                    </div>
                  {{/if}}
                  {{#if killed}}
                    <div class="col s6 color-killed">
                      <i class="fa fa-ban" aria-hidden="true"></i> {{ version }}
                    </div>
                  {{/if}}
                {{/each}}
              </div>
            {{/each}}
          </li>
        {{/each}}
      {{/if}}
    </ul>
  </div>
</template>
