<template name="queue">
  <ul class="collection job-queue new-btn-wrapper">
    <button id="new-btn" class="collection-item center new-btn">New job</button>
  </ul>
  {{#if Template.subscriptionsReady}}
    <ul class="collection job-queue">
      {{#let running=runningStatus}}
        {{#if running}}
          <li class="collection-item center">
            {{ running }}
          </li>
          {{#each jobsRunning}}
            <li class="collection-item queue-item queue-item-running {{#if currentJob _publicId}}active{{/if}}">
              {{#if job.listed}}
                <a href="{{ link job }}" class="btn disabled job-link"><i class="material-icons">visibility</i></a>
              {{else}}
                <span class="btn disabled job-link unlisted"><i class="material-icons">visibility_off</i></span>
              {{/if}}
              {{#each node in (sortAndAugment job.nodesStatus)}}
                <span class="btn disabled node-modal-trigger">
                  {{#if node.nightly}}
                    nightly
                  {{else}}
                    {{ node.version }}
                  {{/if}}
                </span>
              {{/each}}
            </li>
          {{/each}}
          {{# if jobsReady}}
            <li class="collection-item center">
              up next
            </li>
            {{#each jobsReady}}
              <li class="collection-item queue-item queue-item-ready {{#if currentJob _publicId}}active{{/if}}">
                {{#if job.listed}}
                  <a href="{{ link job }}" class="btn disabled job-link"><i class="material-icons">visibility</i></a>
                {{else}}
                  <span class="btn disabled job-link unlisted"><i class="material-icons">visibility_off</i></span>
                {{/if}}
                {{#each node in (sortAndAugment job.nodesStatus)}}
                  <span class="btn disabled node-modal-trigger">
                    {{#if node.nightly}}
                      nightly
                    {{else}}
                      {{ node.version }}
                    {{/if}}
                  </span>
                {{/each}}
              </li>
            {{/each}}
          {{/if}}
        {{/if}}
      {{/let}}
      <li class="collection-item center">
        past jobs
      </li>
      {{#each job in jobsDone}}
        <li class="collection-item queue-item queue-item-done {{#if currentJob job._publicId}}active{{/if}}">
          {{#if job.listed}}
            <a href="{{ link job }}" class="btn disabled job-link"><i class="material-icons">visibility</i></a>
          {{else}}
            <span class="btn disabled job-link unlisted"><i class="material-icons">visibility_off</i></span>
          {{/if}}
          {{#each node in (sortAndAugment job.nodesStatus)}}
            <span class="btn disabled node-modal-trigger verdict-{{node.verdict}}">
              {{#if node.nightly}}
                nightly
              {{else}}
                {{ node.version }}
              {{/if}}
              <i></i>
            </span>
          {{/each}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</template>
