<template name="queue">
  <div class="job-queue-col-wrapper">
    <ul class="collection new-btn-wrapper adjust">
      <button id="new-btn" class="collection-item center new-btn">New job <i class="fa fa-angle-right" aria-hidden="true"></i></button>
    </ul>
    <ul class="collection job-queue adjust">
      {{#if Template.subscriptionsReady}}
        {{#each jobs}}
          <li class="collection-item queue-item type-{{type}} {{#if listed}}listed{{/if}}" data-id="{{ _id }}" data-publicid="{{ _publicId }}">
            {{#let counts=(verdicts nodesStatus)}}
              <span class="short-id">
                {{ shortId this }}
                {{#if tag}}
                  <span class="d8-mention">v8</span>
                {{/if}}
              </span>
              {{#if tag}}
                <div class="d8">v8 tag: {{tag}}</div>
              {{/if}}
              <span class="verdicts">
                {{#if tag}}{{tag}}{{/if}}
                {{#if (status this 'running')}}
                  {{ nodesStatus.length }} <i class="material-icons" aria-hidden="true">settings</i>
                {{/if}}
                {{#if counts.good }}
                  <span class="color-good">
                    <span class="count">{{ counts.good }}</span> <i class="material-icons" aria-hidden="true">check</i>
                  </span>
                {{/if}}
                {{#if counts.bad }}
                  <span class="color-bad">
                    <span class="count">{{ counts.bad }}</span> <i class="material-icons" aria-hidden="true">error</i>
                  </span>
                {{/if}}
                {{#if counts.unsure }}
                  <span class="color-unsure">
                    <span class="count">{{ counts.unsure }}</span> <i class="material-icons" aria-hidden="true">help_outline</i>
                  </span>
                {{/if}}
                {{#if killed }}
                  <span class="color-killed">
                    <i class="material-icons" aria-hidden="true">block</i>
                  </span>
                {{else}}
                  <span class="color-good">
                    <i class="material-icons" aria-hidden="true">check</i>
                  </span>
                {{/if}}
              </span>
            {{/let}}
            {{#each (sortAndAugment nodesStatus)}}
              <div class="row job-details">
                {{#each this}}
                  {{#if good}}
                    <div class="col s6 color-good">
                      <i class="material-icons" aria-hidden="true">check</i> {{ version }}
                    </div>
                  {{/if}}
                  {{#if bad}}
                    <div class="col s6 color-bad">
                      <i class="material-icons" aria-hidden="true">error</i> {{ version }}
                    </div>
                  {{/if}}
                  {{#if unsure}}
                    <div class="col s6 color-unsure">
                      <i class="material-icons" aria-hidden="true">help_outline</i> {{ version }}
                    </div>
                  {{/if}}
                  {{#if killed}}
                    <div class="col s6 color-killed">
                      <i class="material-icons" aria-hidden="true">block</i> {{ version }}
                    </div>
                  {{/if}}
                {{/each}}
              </div>
            {{/each}}
          </li>
        {{/each}}
      {{/if}}
    </ul>
  </div>
</template>
